[all]
node1 ansible_host={{ master1privip }} ip={{ master1privip }} etcd_member_name=etcd1
node2 ansible_host={{ master2privip }} ip={{ master2privip }} etcd_member_name=etcd2
node3 ansible_host={{ worker1privip }} ip={{ worker1privip }} etcd_member_name=etcd3
node4 ansible_host={{ worker2privip }} ip={{ worker2privip }} etcd_member_name=etcd4
node5 ansible_host={{ worker3privip }} ip={{ worker3privip }} etcd_member_name=etcd5


[kube-master]
node1
node2

[etcd]
node1
node2
node3
node4
node5

[kube-node]
node3
node4
node5
[calico-rr]

[k8s-cluster:children]
kube-master
kube-node
calico-rr
